.CodeMirror {
    border: 1px solid #ccd0d4; /* Match WordPress editor border */
    border-radius: 4px;
    font-family: monospace;
    background-color: #ffffff; /* White background */
    margin-right: 16px;
    height: 600px;
}

.CodeMirror-gutters {
    margin-right: 10px;  /* Increase the spacing as desired */
}

.content-editor-container {
    display: flex;
    gap: 20px; 
    margin-top: 20px;
}

.content-editor-container .html-editor-section {
    flex: 1;
}
.content-editor-container .css-editor-section {
    flex: 2;
}