.custom-loader {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: #ffffff; /* Adjust color to match the button */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #155724;
	padding: 20px;
	border-radius: 6px;
	margin-top: 42px;
}

.alert-danger {
    color: #721C24;
    background-color: #F8D7DA;
    border-color: #F5C6CB;
    padding: 20px;
	border-radius: 6px;
	margin-top: 42px;
}

.alert-warning {
    color: #856404;
    background-color: #FFF3CD;
    border-color: #FFEEBA;
    padding: 20px;
	border-radius: 6px;
	margin-top: 42px;
}